@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
    font-family: "Manrope", sans-serif;
}

.container_ficheEleve{
    margin:85px auto 30px;
    height: 350px;
    width: 95%;
    background-color: rgb(255, 255, 255) ;
    border-radius: 20px;
    /* margin: auto; */
    
}
.card_ficheEleve{
    width: 100%;
    /* margin: auto; */
    height: 60%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-size:10pt;

}
.profil_img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.profil_img .imageEleve{
    width: 100px;
    height: 100px;
    background-color: #f7f6fb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.imageEleve img{
    width: 65%;
    height: auto;
}
.info_parent{
    width: 20% ;
    
}
.info_parent > div  i {
    margin-right:10px;
    max-width: min-content;
}
.info_parent > div {
    /* display: flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content: space-around; */
    margin-bottom:5px;
}       
/* .ttl_card span,
.telParent span,
.emailParent span,
.annive span,
.location span,
.codeFamille span{
    background-color: aquamarine;
} */
.name,
.class_promo,
.massar,
.matricule,
.group{
    font-size:10pt;
    /* font-weight: 500 */
    color: rgb(165, 165, 165);
}
.telParent div
,.emailParent
,.codeFamille{
    /* margin-bottom: 10px; */
}
.list_tuteurs{
    /* width: 40%; */
    /* width: 100%; */
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frere{
    height: 100px ;
    margin: 0 5px ;
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    padding:0 10px;
    margin :10px 0 ;
    border:1px solid #c2c2c2 ;
    border-radius: 10px;
}
.frere .photo img{
    width:50px;
    height:50px;
}
.frere .photo{
    width:50px;
    height:50px;
    border-radius: 50%;
    overflow: hidden;
}
/* .frere .recu-prof{
    height: 100%;
} */
/* .frere .tel_recup{
    height: 100%;
} */
.tuteurs{
    display: flex;
    flex-direction: row;
    box-sizing:border-box;
    padding: 0 20px;
    /* height: 30%; */
    /* width: ; */
    flex-wrap: nowrap;
    
}
.tuteurs .title{
    font-size: 1.2vw;
    font-weight: 700;
}
.addTuteur{
    width: 30%;
    height: 100%;
}

.box_addnew{
    border-radius: 10px;
    width: 80%;
    height: 100%;
    background-color: #fbfbff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconAdd{
    background-color: #eef0ff;
    width:  50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.iconAdd button{
    border: none;
    outline: none;
    background-color: transparent;
}
.listTuteur{
    /* display: flex;
    flex-direction: column; */
    width: 70%;
    height: 100%;
}
.iconAdd button:focus{
    border:none;
    outline: none;
}
.ttl_card{
    font-size: 1.1rem;
    font-weight: bolder;
}
.list_tuteurs button{
    display: none !important;
}
.listFrere{
    display: flex;
    flex-direction: column;
    width: 40%;
    
}
.ttl_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nextFr , .prevFr{
    border-radius: 50%;
    outline: none;
}
.tuteurFamile{
    height: 90px ;
    /* border:1px solid #c2c2c2 ; */
    border-radius: 10px;
}
.tuteur{
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    padding:0 10px;
    margin :10px 0 ;
    border-radius: 10px;
    border:1px solid #c2c2c2 ;

}
.nameTuteur{
    font-size: 15px;
    font-weight:600 ;

}
.telTuteur span{
    font-size: 12px;
    font-weight:600 ;
}

.checkApp{
    display: flex;
}
.status span{
    font-weight: bold
}
.img_tuteur img{
    height: 60px;
    width: 60px;
}
.listDoc{
    position: relative;
    background-color:#fbfcff;
    width:400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow:3px 3px 8px 7px rgb(201, 199, 199);
    transition: all 1s ease-in;
    top: -200%;
}
.title_etat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.title_etat .icon-icon{
    background-color: rgba(107, 76, 230,.5);
}
.icon-icon button{
    outline: none;
    border: none;
    background-color: transparent !important;
}
.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
    
}
