:root{
    --title_font : 12px;
}
.main {
    font-family:Arial;
    /* width:5  00px; */
    display:block;
    margin:0 auto;
}
h3 {
    background: #fff;
    color: #4723d9;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.action{
    display:block;
    margin:100px auto;
    width:100%;
    text-align:center;
}
.action a {
    display:inline-block;
    /* padding:5px 10px;  */
    background:#f30;
    color:#ffffff;
    text-decoration:none;
}
.action a:hover{
    background:#000;
}
.slick-prev:before , .slick-next:before {
    color: #bebebe;
    z-index: 55;
}
.container_eleveSlick{
    background-color: #ffffff; 
    width: 95%;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
.slideTesting{
    height: 25%;
    width:90% ;
    margin: auto;
    margin-bottom: 20px;
    /* padding: 0 ; */
    /* overflow: hidden; */
    z-index: 1;
    border-radius: 10px;
}
.separateur{
    min-width: 100%;
    background-color: #c9c8c8;
    height: 3px;
}
a, button{
    text-decoration: none;
    outline: none;
    border: none;
}

.slideTesting div a{
    width: 60px;
    height: 60px !important;
    border:2px solid #a6a6a6;
    border-radius: 50%;
    display: flex;
    margin: auto;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,0%);
    cursor: pointer;
}
.slideTesting div a img{
    width: 40px;
    height: 40px;
}
.slideTesting div {
    text-align: center;
    position: relative;
    width: 100%;

    /* width:min-content; */
    height: 100%;
    /* display: flex !important; */
    /* align-items: center !important; */
    /* justify-content: center !important; */
}
.newh3{
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0 !important; 
    margin: 0px !important;
    padding: 0 !important;
}
.slideTesting div span{
    position: absolute;
    bottom: 10px;
    font-size: 1vw;
    text-overflow: ellipsis;
    width: 100%;
    left: 0;
    color:#6b4ce6;
    font-weight: 600;
}
.img_active{
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    fill: #db2d2d;
    --color_fill: #db2d2d;
}
img path {
    fill: #963434;
}
.activeTab{
    border: #4723d9;
}
.slideTesting .box{
    border-bottom:3px solid #c5c3c3;
}
.active_box{
    border-color: #4723d9 !important;
}

.boxDoc{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sep{
    height: 100%;
    width: 12px ;
    background-color: #dddbdb;
}
.filesBox{
    padding:10px;
    width: 50% ;
    height: 100%;
    border-right: 1px solid #dddbdb;
    margin-bottom: 10px;
}
.autorisationBox{
    padding:10px;
    width: 50% ;
    height: 100%;
    margin-bottom: 10px;
}
.contentBox{
    border-bottom: 1px solid #dddbdb;
    height:calc(100% - 25% - 40px);
    margin:auto ;
    width: 95%;
    padding: 10px;
    
}
.title{
    font-size: 1.32rem;
    font-weight: 600;
    color: #303046;
    
}
.dossier{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.subtitle{
    font-size: .8rem;
    font-weight: 600;
    color: #303046;

}
.doc{
    display:flex;
    flex-direction: row;
    width:100%;
    margin: 20px 0;
    background-color: transparent;
}
.check_icon{
    background-color: transparent;
    height:100;
    width: 10%;
    position: relative;
    z-index: 2;
}
.folder-icon{
    background-color: #ff7f004a;
    color: #ff7f00;
}
.icon-icon{
    background-color: #ae00ff4a;
    color: #a206eb;
}
.folder-icon,
.icon-icon{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color: #6b4ce6; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.button-box{
    display: flex;
    
}
.check_icon::before{
    content: "";
    height: 40%;
    width: .3px;
    background-color: #cecece;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}   
.checked{
    z-index: 3;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6ffe5;
    border-radius: 50%;
}

.data{
    margin-left: 20px;
    border-radius: 10px;
    width: 100%;
    transition: .5s ease;
}
.data:hover{
    border:1px solid #d4d4d4;
    margin-left:3px;
    /* padding-left: 20px; */
    padding: 10px 5px 10px 20px;
}
.data .typeDoc{
    color: #303046;
    font-weight: 900;
    padding: 2.5px;
}
.data .comment{
    padding: 2.5px;
    color: #282828;
    font-size: 13px;
    font-weight: 700;
}
.data .date{
    padding: 2.5px;
    color: #282828;
    font-size: 12px;
    font-weight: 700;
}
.listOfData{
    padding: 10px;

}
.itemAutoriz{
    border:1px solid #e2e2e2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction:row ;
    height: 70px;
    box-shadow: 6px 4px 9px rgb(216, 214, 214);
    margin-bottom: 10px;
}
.icon_autoriz{
    width: 20%;
    height: 100%;
}
.icon_autoriz i{
    font-size: 2.5vw;
    color: #6b4ce6;
}
.titleAuto{
    width: 60%;
    height: 100%;
    font-weight: bold;
}
.check{
    width: 20%;
    height: 100%;
}
.icon_autoriz,
.titleAuto,
.check{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */


.switch {
    /* switch */
    --switch-width: 46px;
    --switch-height: 24px;
    --switch-bg: rgb(131, 131, 131);
    --switch-checked-bg: rgb(0, 218, 80);
    --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
    --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    /* circle */
    --circle-diameter: 18px;
    --circle-bg: #fff;
    --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
    --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
    --circle-transition: var(--switch-transition);
    /* icon */
    --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    --icon-cross-color: var(--switch-bg);
    --icon-cross-size: 6px;
    --icon-checkmark-color: var(--switch-checked-bg);
    --icon-checkmark-size: 10px;
    /* effect line */
    --effect-width: calc(var(--circle-diameter) / 2);
    --effect-height: calc(var(--effect-width) / 2 - 1px);
    --effect-bg: var(--circle-bg);
    --effect-border-radius: 1px;
    --effect-transition: all .2s ease-in-out;
  }
  
  .switch input {
    display: none;
  }
  
  .switch {
    display: inline-block;
  }
  
  .switch svg {
    -webkit-transition: var(--icon-transition);
    -o-transition: var(--icon-transition);
    transition: var(--icon-transition);
    position: absolute;
    height: auto;
  }
  
  .switch .checkmark {
    width: var(--icon-checkmark-size);
    color: var(--icon-checkmark-color);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .switch .cross {
    width: var(--icon-cross-size);
    color: var(--icon-cross-color);
  }
  
  .slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
  }
  
  .circle {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background: var(--circle-bg);
    border-radius: inherit;
    -webkit-box-shadow: var(--circle-shadow);
    box-shadow: var(--circle-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    z-index: 1;
    position: absolute;
    left: var(--switch-offset);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
  }
  
  /* actions */
  
  .switch input:checked+.slider {
    background: var(--switch-checked-bg);
  }
  
  .switch input:checked+.slider .checkmark {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .switch input:checked+.slider .cross {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .switch input:checked+.slider::before {
    left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
  }
  
  .switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter) - var(--switch-offset));
    -webkit-box-shadow: var(--circle-checked-shadow);
    box-shadow: var(--circle-checked-shadow);
  }
/*  */

.popup_permi{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100%;
    background-color: #adadad5a;
    z-index: 244;
    display: flex;
    align-items: start;
    justify-content: center;
    visibility: hidden;
    transition: all .6s ease-in;
    /* transition-delay: 1s; */
    padding: 20px;
    overflow: auto;
    
}
.boxPermi{
    margin-top: 30px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    box-shadow:3px 3px 8px 7px rgb(201, 199, 199);
    transition: all 1s ease-in;
    /* top: -200%; */
}
.permiheader{
    line-height: 35px;
    padding: 10px 0;
    font-weight:bold ;
}
.close{
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    font-size: x-large;
}
.close:hover{
    transform:scale(1.3)
}
.listPermi{
    margin:20px 0;
    overflow: auto;
}
.btnsave{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loadFile{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loadFile input{
    font-size: small;
}
.flx{
    display: flex;
}
/* ############################################################### */
.cardtuto{

}

.iconAddSmall{
    background-color: #eef0ff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    /* display: none; */
}
.iconAddSmall button{
    border: none;
    outline: none;
    background-color: transparent;
    margin: auto;
}
.iconAddSmall button:focus{
    border:none;
    outline: none;
}
.box_recup{
    height: 90%;
    width: 100%;
}
.box_autorecup{
    height: 90% !important;
    width: 100%;
}
.item_autorecup{
    height: 100%;
    width: 80% !important;
    display: flex !important;
    align-items: center !important;
    /* justify-content: space-evenly !important; */
    padding:0 10px;
    margin :10px 0 ;
    border:1px solid #c2c2c2 ;
    border-radius: 10px;
    
}
.recu-prof{
    width: 30%;
    border-radius: 50%;
}
.recu-prof img{
    width: 90%;
    height: auto;
    border-radius: 50%;
}
.tel_recup{
    width: 60%;
    text-align: center;
}
.box_autorecup .slick-next{
    right: 40px !important;
}
.box_autorecup .slick-prev{
    display:none !important;
}
.slick-slide{
    margin: 0 5px !important;
}
/* ########################################## */
.custum-file-upload {
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
    margin:20px auto;
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
}
  
.custum-file-upload input {
    display: none;
}
  /* ############################### */
.closeListDoc{
    width: 100%;

}
.closeListDoc button{
    outline: none;
    border: none;
    background-color: transparent;
    width: 70%;
    margin: 0 15%;
    text-align: center;
    line-height: 40px;
    background-color: #ee7505;
    border-radius: 20px;
    color: white;
}
